<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cute or not</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,700" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico&effect=3d-float">
    <link href="css/styles.css" rel="stylesheet">
    <!-- Add custom CSS here -->
    <style> 
    body {
        margin-top: 60px;
    }
    </style>

</head>

<body>
      
			
            <div class="navbar navbar-fixed-top navbar-inverse">
   				 <div class="navbar-inner">
    							
    				<ul class="nav pull-right">
                    <li class="active"><a href="./">Game</a></li>
                    <li><a href="./standings">Standings</a></li>
                    <li><a href="http://rajaselvan.github.io">Meet the developer</a></li>
                    </ul>
    			</div>
    		</div>
         
         
        
      
    	
		<header>
        
			<h1><span class="orange">Which is cuter?</span></h1>
			<h1><span class="green">Puppies</span> or <span class="red">Kittens</span></h1>
			
		</header>


		{{{body}}}


		<script src="js/bootstrap.js" type="text/javascript"></script>
		<script src="../../jquery-1.10.2.js"></script>
	</body>
</html>