      
      <div class="container">
         
        
        
        {{#if photo1}}
			{{#if photo2}}
            
            	<div class="row-fluid span8 offset2">
        
        		<div class="span4">
        					<a href="/score/?winner={{photo1.name}}&loser={{photo2.name}}"><img class="thumbnail" src="pups/{{photo1.name}}" width="250px" height="250px" alt="Pups" /> </a>
            
    			</div>
    						
    			<div class="span4">
    						<a href="/score/?winner={{photo2.name}}&loser={{photo1.name}}"><img class="thumbnail" src="kittens/{{photo2.name}}" width="250px" height="250px" alt="Kittens" /> </a>
    			</div>
    <!-- /.container -->
    			</div>
                
			{{else}}

				<h3>No more photos to vote on! Check out the <a href="./standings">standings</a>.</h3>

			{{/if}}
			
	{{else}}
	
		<h3>No more photos to vote on! Check out the <a href="./standings">standings</a>.</h3>
		
	
	{{/if}}
    
	</div>
   